<div id="vue-tranzactions" class="container-fluid">
  <%= form_with model: @tranzaction do |form| %>
    <%= render partial: '/batches/form' %>
    <hr>
    <div class="row">
      <%= render partial: 'form' %>
    </div>
    <hr/>
    <div class="row">
      <template v-for="(entry, idx) in distributionEntries">
        <%= render partial: '/entries/directed_row' %>
      </template>
    </div>
    <hr/>
    <div class="row">
      <template v-for="(payment, idx) in payments">
        <%= render partial: '/payments/form' %>
      </template>
    </div>
    <div class="row">
      <div class="col-auto">
        <button type="button" class="btn btn-primary" @click="submitForm">Save</button>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-primary"
          @click="printAndSubmitForm"
          :disabled="checksPrintable"
        >Print</button>
      </div>
    </div>
  <% end %>
</div>
