<div class="row my-3">
  <div class="col-auto">
    <%= link_to(
      'New Batch',
      params[:purpose] == 'general_ledger' ? new_batch_path(purpose: params[:purpose]) : new_tranzaction_path(purpose: params[:purpose]),
      class: 'btn btn-primary'
    ) %>
  </div>
</div>
<div class="col my-3">
	<% @batches.each do |batch| %>
		<div class="row my-2 p-3 bg-light-subtle rounded">
      <div class="col">
        <div class="row">
          <div class="col-auto">
            <% if batch.purpose == 'general_ledger' %>
              <%= link_to('Edit', edit_batch_path(batch), class: 'btn btn-primary') %>
            <% else %>
              <%= link_to('Add', new_tranzaction_path(batch_id: batch.id, id: DateTime.now.to_i), class: 'btn btn-primary') %>
            <% end %>
          </div>

          <%= form_with(model: batch, class: 'col') do |form| %>
            <div class="row">
              <div class="col">
                <%= form.text_field(
                  :name,
                  class: "form-control",
                  placeholder: 'Name'
                ) %>
              </div>
              <div class="col">
                <%= form.text_field(
                  :comment,
                  class: "form-control",
                  placeholder: 'Comment'
                ) %>
              </div>
            </div>
          <% end %>
          <div class="col-auto">
            <%= form_with(model: batch) do |form| %>
              <%= form.hidden_field(
                :posted_at,
                value: DateTime.now
              ) %>
              <% batch.payment_batches.each do |payment_batch| %>
                <%= form.fields_for(:payment_batches, payment_batch) do |payment_batch_form| %>
                  <%= payment_batch_form.hidden_field(
                    :posted_at,
                    value: DateTime.now
                  ) %>
                <% end %>
              <% end %>
              <%= form.submit("Post", class: 'btn btn-primary') %>
            <% end %>
          </div>
        </div>
        <% if batch.purpose != 'general_ledger' %>
          <div class="row mt-2 bg-body">
            <div class="overflow-scroll mh-tranzactions">
              <% batch.direceted_tranzactions.each do |tranzaction| %>
                <%= link_to(edit_tranzaction_path(tranzaction), class: 'hover') do %>
                  <div class="row p-2">
                    <div class="col">
                      <%= tranzaction.company.name %>
                    </div>
                    <div class="col">
                      <%= tranzaction.reference_number %>
                    </div>
                    <div class="col">
                      <%= tranzaction.date.to_fs(:masked) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
	<% end %>
</div>
