<div class="row my-3">
  <div class="col-auto">
  	<%= form_with model: Batch.new do |form| %>
  		<%= form.hidden_field(
  			:purpose,
  			value: 'general_ledger'
  		) %>
  		<%= form.submit('New Batch', class: 'btn btn-primary') %> 
  	<% end %>
  </div>
</div>
<div class="row my-3">
	<% @batches.each do |batch| %>
		<div class="row my-1 p-3 bg-light-subtle rounded">
      <div class="col-auto">
        <%= link_to('Edit', edit_batch_path(batch), class: 'btn btn-primary') %>
      </div>

      <%= form_with(model: batch, class: 'col') do |form| %>
        <div class="row">
          <div class="col">  
            <%= form.text_field(
              :name,
              class: "form-control",
              placeholder: 'Name'
            ) %>
          </div>
          <div class="col">  
            <%= form.text_field(
              :comment,
              class: "form-control",
              placeholder: 'Comment'
            ) %>
          </div>
        </div>
      <% end %>
      <div class="col-auto">
        <%= form_with(model: batch) do |form| %>
          <%= form.hidden_field(
            :posted_at,
            value: DateTime.now
          ) %>
          <%= form.submit("Post", class: 'btn btn-primary') %>
        <% end %>
      </div>
    </div> 
	<% end %>
</div>