<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>AccountingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.css" rel="stylesheet"/>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render partial: '/layouts/rails-params' %>
      <% flash.each do |type, msg| %>
        <div
          class="
            alert
            alert-<%= type == 'alert' ? 'danger' : 'success' %>
            alert-dismissible
            fade
            show
          "
          role="alert"
        >
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "&nbsp/&nbsp" %>
        </ol> 
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
