<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'payments' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="payment-wrapper">
    <%= render partial: '/layouts/rails-params' %>
    <%= yield %>
  </body>
</html>
